*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/docker-config/postgresql-nginx-redis-node/src/public/build
/docker-config/postgresql-nginx-redis-node/src/public/hot
/docker-config/postgresql-nginx-redis-node/src/public/storage
/storage/*.key
/docker-config/postgresql-nginx-redis-node/src/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
